<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
<ul class="navbar-nav"> 
    <li class="nav-item"> 
        <a class="nav-link " routerLink="/presentation" routerLinkActive="active">Présentation</a>     </li> 
    <li class="nav-item"> 
        <a class="nav-link" routerLink="/listlivres" routerLinkActive="active">Liste des livres</a>     </li> 
    <li class="nav-item"> 
        <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">A propos de Nous</a> 
    </li> 
</ul> 
</div>
</nav>

